@charset "utf-8";
/*
*    커다란것 들 
*
*/
html{
    margin: 0;
    scroll-behavior: smooth;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    background-color: #121212;
    color: #fafafa;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 590;
    line-height: 180%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}
body::webkit-scrollbar{
    width: 10px;
}
body::webkit-scrollbar-thumb{
    background-color: rgba(92, 92, 92, 0.685);
    border-radius: 10px;
}
body::webkit-scrollbar-track{
    background-color: #121212;
}


.background-image{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.frame{
    padding: 0 25% 0 25%;
}

h1{
    margin-bottom: 50px;
}

a:link { color: #fafafa; text-decoration: none;}
a:visited { color: rgb(180, 180, 180); text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}


/*
*  화면과 관련되어 있는 것들
*
*/

nav .topnav{
    font-size: 20px;
}

.topnav .menu-btn{
    display: none;
    font-size : 30px;

}

nav{
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    background-color: #121212!important;
    color : #fafafa;
    font-size: 20px;
    top: 0;
    z-index: 1;
    width: 100%;
    cursor:pointer;
}

#menu{ 
    padding: 0 15% 0 15%;
    list-style: none;
    display: flex;
    flex-direction: row!important;
    align-items: center;
    justify-content: space-between;
}


.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: auto;
}

.intro>p{
    border-left: 1.7px #fafafa solid;
    padding-left: 5px;
}

/*
*            각화면 별 구성
*
*/

/*
* 어바웃
*/
#about > ul{
    list-style-type: none;
}



.section{
    height: 85vh;
}

/*
스킬셋
*/

#skill-set-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#skill-set-con>div > ul{
    list-style-type: none;
    padding: 0;
    width: 100%;
}
#skill-set-con >div >ul >li{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.score{
    font-size: 13px;
    letter-spacing: 1.5px;
    font-weight: bold;
/*    color:#2069e0ff;*/
}

/*
*contact
*/
#contact ul{
    font-size: 20px;
    list-style-type: none;
}

/*
*  포트폴리오 섹터
*/
#portfolio{
    height: 100%;
}
.portfolio-contents{
    margin-bottom: 100px;
}

.cont .pofol-img-con{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont .pofol-img-con img{
    width: 100%;
    margin: auto;
}


.pofol-spec>ul{
    list-style-type: none;
}

.description{
    font-size: 17px;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
    background-color: rgb(122, 122, 122);
}

/*
*     모달창
*
*/
.close-btn{
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    width: 70vw;
    height: 13px;
    padding : 5px 0 8px 0;
    background-color: #323131;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgb(145, 145, 145);
    z-index: 2;

}

.pofol-detail{
    z-index: 2;
    margin: 3vh 15% 3vh 15%;
    height: 90vh;
    width: 70vw;
    top: 3vh;
    left: 0;
    background-color: #323131;
    box-shadow: 4px 3px 4px 3px rgb(85, 85, 85);
    border-radius: 10px;
    display: none;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.detail{
    margin-top: 15px;
}
.detail .big-img-container{
    width: 100%;
}
.detail>div>ul{
    list-style-type: none;
}

.big-img-container img{
    width: 100%;
}
.small-img-container img{
    width: 50%;
    text-align: center;
    display:block; 
    margin:auto;
}


.spec>div{
    margin: 5vh 10vw 0 10vw;
}
.pofol-spec .cont{
    display: flex;
}

.skill-stack> ul{
    font-weight: bold;
    list-style: none;
}

.stack-img-con{
    display: flex;
    margin-bottom: 6px;
}
.stack-img-con .logo-img{
    height: 45px;
    margin-right: 3%;
}
.stack-img-con .logo-img img{
    height: 100%;
}


.pofol-spec>.cont ul{
    list-style-type: none;
}

.pofol-detail-btn{
    margin-top: 3px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #121212;
}

.pofol-detail-btn:hover { color: rgb(122, 122, 122); text-decoration: underline;}

.detail .footer{
    height: 10vh;
}

.detail-section{
    margin-top: 7vh;
    margin-bottom: 7vh;
    font-size: 17px;
}

.divider{
    width: 100%;
    border-bottom: 1px solid rgb(145, 145, 145);
}

/*
* footer
*/
.footer{
    height: 20vh;
}
@media screen and (max-width: 768px){
    body{
        font-size: 17px;
        width : 100%;
    }

    .frame{
        padding: 0 10% 0 10%;
        width : 80%;
    }

    .section{
        margin-bottom: 20vh;
    }

/*
메뉴
*/
    .topnav{
        width: 100vw;
    }

    .topnav #open-menu{
        padding-right: 90%;
        display: inline; 
        width:100%;
    }

    #menu{ 
        height: 80%;
        width: 100%;
        display: none;
        padding: 0 15% 0 15%;
        margin : 0;
        height: 100vh;
        width: 70%;
        list-style: none;
        flex-direction: column!important;
        align-items: center;
        justify-content: center;
    }
    #menu li{
        padding : 30px 0 30px 0
    }



/*
스킬셋
*/


    #skill-set-con{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    



    #skill-set{
        height: 100%
    }
    #skill-set-con>div > ul{

        width: 100%;
    }

    .cont{
        display: flex;
        flex-direction: column;
    }
    .cont ul{
        padding-left: 10px;
        margin : 0;
    }
    .cont img{
        margin: 0;
    }

/*
모달창
*/
    .topnav{
        background-color: rgba(0, 0, 0, 0)!important;
    }

    .close-btn{
        width: 90%;
    
    }
    
    .pofol-detail{

        margin: 1vh 5% 2vh 5%;

        width: 90%;
 
    }

    .small-img-container img{
        width: 100%;
    }

}
