@charset "utf-8";
/*
*    커다란것 들 
*
*/
html{
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}
body::webkit-scrollbar{
    width: 10px;
}
body::webkit-scrollbar-thumb{
    background-color: rgba(92, 92, 92, 0.685);
    border-radius: 10px;
}
body::webkit-scrollbar-track{
    background-color: #fff;
}


.background-image{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.frame{
    padding: 0 25% 0 25%;
}

a:link { color: rgb(0, 0, 0); text-decoration: none;}
a:visited { color: rgb(82, 80, 80); text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}


/*
*  화면과 관련되어 있는 것들
*
*/



nav{
    font-weight: bold;
    overflow: hidden;
    position: fixed;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 2;
}

.topnav>ul{ 
    padding: 0 15% 0 15%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: auto;
}

.intro>p{
    border-left: 1.7px black solid;
    padding-left: 5px;
}

/*
*            각화면 별 구성
*
*/

/*
* 어바웃
*/
#about > ul{
    list-style-type: none;
}



.section{
    height: 60vh;
}


#skill-set-con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#skill-set-con>div > ul{
    list-style-type: none;
}



/*
*  포트폴리오 섹터
*/
#portfolio{
    height: 100%;
}
.portfolio-contents{
    margin-bottom: 15%;
}

.pofol-spec>ul{
    list-style-type: none;
}

.description{
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    background-color: rgb(243, 243, 243);
}

/*
*     모달창
*/
.close-btn{
    display: flex;
    align-content: center;
    justify-content: center;
    position: fixed;
    width: 70vw;
    height: 13px;
    padding : 5px 0 8px 0;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(145, 145, 145);

}

.pofol-detail{
    z-index: 1;
    margin: 3vh 15% 3vh 15%;
    height: 90vh;
    width: 70vw;
    top: 3vh;
    left: 0;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 3px 4px 3px rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    display: none;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}


.spec>div{
    margin: 5vh 10vw 0 10vw;
}

.pofol-detail-btn{
    margin-top: 3px;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid #000;
}

.pofol-detail-btn:hover { color: rgb(122, 122, 122); text-decoration: underline;}


/*
* footer
*/
.footer{
    height: 20vh;
}